
<div class="container mt-5">
  <!-- Section Header with Padding -->
  <div class="text-center pb-4">
    <h1 class="display-4"   style="font-size: 3rem;">Projects</h1>
    <hr class="my-4">
  </div>

  <!-- Project Table Section with Padding -->
  <div class="bg-secondary rounded-3 p-5"   style="font-size: 0.8rem;">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <!-- Table Header -->
        <thead class="table-dark">
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th></th>
          </tr>
        </thead>

        <!-- Table Body -->
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.description %></td>
              <td>
                <%= link_to "Show", project, class: "btn btn-dark btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
